{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "User's Courses" %}
{% endblock %}

{% block content %}
<div class="span6 profileRows">
	<h2 class="profileHeading">{{ request.user.get_full_name }}'s Courses<span class="pull-right"><a href="#" class="Edit"><i class="icon-pencil"></i> Edit</a></span></h2>
        	
        <ul>
	{% for grade in grades %}
            <li class="clearfix">
            <div class="span5 pull-left alpha">
		    <a href="{% url 'course' grade.course.id %}"><p><strong>{{ grade.course.title }}</strong></p></a>
		    <p class="smallText">{{ grade.course.description }}</p>
            </div>            
            </li>
	    <hr>
	{% endfor %}
          </ul>  
 	
	<div style="clear:both;"></div> 
	</div>

{% endblock %}


