{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "All User Courses" %}
{% endblock %}

{% block content %}
<div class="span6 profileRows">
	<h2 class="profileHeading">Video Files for {{ vid.course.title }}<span class="pull-right"><a href="{% url 'course_video_list' vid.course.id %}" class="Edit"><i class="icon-arrow-left"></i>Back</a></span></h2>
	{% if vid %}	
        <video width="570" height="340" controls="controls">
		<source src="{{ vid.uploads.url }}"  type="video/mp4" />
	</video>
	{% else %}
	<p>No Videos exist for this course</p>
	{% endif %}

	<div style="clear:both;"></div> 
</div>

{% endblock %}



